<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="NextJsStandalone" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="server.js" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <iisnode 
      loggingEnabled="true" 
      devErrorsEnabled="true" 
      logDirectory="iisnode_logs"
      flushResponse="true"
    />
  </system.webServer>
</configuration>
